<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.addenda.porttrail.server.mapper.EstStatementSqlMapper">
  <resultMap type="cn.addenda.porttrail.server.entity.EstStatementSql" id="EstStatementSqlMap">
    <id property="id" column="id" jdbcType="BIGINT"/>
  </resultMap>

  <sql id="allColumn">
    `id`, `statement_execution_id`, `sql`, `order_in_statement`, `order_in_connection`
  </sql>

  <sql id="setCondition">
    <if test="statementExecutionId != null">
      `statement_execution_id` = #{statementExecutionId,jdbcType=BIGINT},
    </if>
    <if test="sql != null">
      `sql` = #{sql,jdbcType=VARCHAR},
    </if>
    <if test="orderInStatement != null">
      `order_in_statement` = #{orderInStatement,jdbcType=INTEGER},
    </if>
    <if test="orderInConnection != null">
      `order_in_connection` = #{orderInConnection,jdbcType=INTEGER},
    </if>
  </sql>

  <sql id="queryCondition">
    <if test="id != null">
      and `id` = #{id,jdbcType=BIGINT}
    </if>
    <if test="statementExecutionId != null">
      and `statement_execution_id` = #{statementExecutionId,jdbcType=BIGINT}
    </if>
    <if test="sql != null">
      and `sql` = #{sql,jdbcType=VARCHAR}
    </if>
    <if test="orderInStatement != null">
      and `order_in_statement` = #{orderInStatement,jdbcType=INTEGER}
    </if>
    <if test="orderInConnection != null">
      and `order_in_connection` = #{orderInConnection,jdbcType=INTEGER}
    </if>
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into t_est_statement_sql
    <trim prefix="set" suffixOverrides=",">
      id = #{id,jdbcType=BIGINT},
      <include refid="setCondition"/>
    </trim>
  </insert>

  <update id="updateById">
    update t_est_statement_sql
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
    where id = #{id,jdbcType=BIGINT}
    and delete_flag = 'N'
  </update>

  <delete id="deleteById">
    update t_est_statement_sql
    set delete_flag = 'Y',
        delete_dt   = now(3)
    where id = #{id,jdbcType=BIGINT}
      and delete_flag = 'N'
  </delete>

  <delete id="deleteByEntity">
    update t_est_statement_sql set delete_flag = 'Y', delete_dt = now(3)
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
      and delete_flag = 'N'
    </trim>
  </delete>

  <select id="queryByEntity" resultMap="EstStatementSqlMap">
    select
    <include refid="allColumn"/>
    from t_est_statement_sql
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
      and delete_flag = 'N'
    </trim>
  </select>

  <select id="queryById" resultMap="EstStatementSqlMap">
    select
    <include refid="allColumn"/>
    from t_est_statement_sql
    <trim prefix="where" prefixOverrides="and">
      id = #{id,jdbcType=BIGINT}
      and delete_flag = 'N'
    </trim>
  </select>

  <select id="queryByIdList" resultMap="EstStatementSqlMap">
    select
    <include refid="allColumn"/>
    from t_est_statement_sql
    <trim prefix="where" prefixOverrides="and">
      id in
      <foreach collection="idList" open="(" close=")" item="id" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
      and delete_flag = 'N'
    </trim>
  </select>

  <select id="countByEntity" resultType="java.lang.Long">
    select count(*) from t_est_statement_sql
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
      and delete_flag = 'N'
    </trim>
  </select>
</mapper>
