<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.addenda.porttrail.server.mapper.ServletExecutionRequestMapper">
  <resultMap type="cn.addenda.porttrail.server.entity.ServletExecutionRequest" id="ServletExecutionRequestMap">
    <id property="id" column="id" jdbcType="BIGINT"/>
  </resultMap>

  <sql id="allColumn">
    `id`
    , `system_code`, `service_name`, `image_name`, `env`, `instance_id`, `execution_id`,
    `version`, `scheme`, `method`, `uri`, `query_string`, `content_type`, `charset_encoding`, `date_time`, `all_content_length`, `content_length`, `locale`,
    `headers`, `body`, `body_text`,
    `curl`
  </sql>

  <sql id="setCondition">
    <if test="systemCode != null">
      `system_code` = #{systemCode,jdbcType=VARCHAR},
    </if>
    <if test="serviceName != null">
      `service_name` = #{serviceName,jdbcType=VARCHAR},
    </if>
    <if test="imageName != null">
      `image_name` = #{imageName,jdbcType=VARCHAR},
    </if>
    <if test="env != null">
      `env` = #{env,jdbcType=VARCHAR},
    </if>
    <if test="instanceId != null">
      `instance_id` = #{instanceId,jdbcType=VARCHAR},
    </if>
    <if test="executionId != null">
      `execution_id` = #{executionId,jdbcType=VARCHAR},
    </if>
    <if test="version != null">
      `version` = #{version,jdbcType=VARCHAR},
    </if>
    <if test="scheme != null">
      `scheme` = #{scheme,jdbcType=VARCHAR},
    </if>
    <if test="method != null">
      `method` = #{method,jdbcType=VARCHAR},
    </if>
    <if test="uri != null">
      `uri` = #{uri,jdbcType=VARCHAR},
    </if>
    <if test="queryString != null">
      `query_string` = #{queryString,jdbcType=VARCHAR},
    </if>
    <if test="contentType != null">
      `content_type` = #{contentType,jdbcType=VARCHAR},
    </if>
    <if test="charsetEncoding != null">
      `charset_encoding` = #{charsetEncoding,jdbcType=VARCHAR},
    </if>
    <if test="dateTime != null">
      `date_time` = #{dateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="allContentLength != null">
      `all_content_length` = #{allContentLength,jdbcType=INTEGER},
    </if>
    <if test="contentLength != null">
      `content_length` = #{contentLength,jdbcType=INTEGER},
    </if>
    <if test="locale != null">
      `locale` = #{locale,jdbcType=VARCHAR},
    </if>
    <if test="headers != null">
      `headers` = #{headers,jdbcType=VARCHAR},
    </if>
    <if test="body != null">
      `body` = #{body},
    </if>
    <if test="bodyText != null">
      `body_text` = #{bodyText,jdbcType=VARCHAR},
    </if>
    <if test="curl != null">
      `curl` = #{curl,jdbcType=VARCHAR},
    </if>
  </sql>

  <sql id="queryCondition">
    <if test="id != null">
      and `id` = #{id,jdbcType=BIGINT}
    </if>
    <if test="systemCode != null">
      and `system_code` = #{systemCode,jdbcType=VARCHAR}
    </if>
    <if test="serviceName != null">
      and `service_name` = #{serviceName,jdbcType=VARCHAR}
    </if>
    <if test="imageName != null">
      and `image_name` = #{imageName,jdbcType=VARCHAR}
    </if>
    <if test="env != null">
      and `env` = #{env,jdbcType=VARCHAR}
    </if>
    <if test="instanceId != null">
      and `instance_id` = #{instanceId,jdbcType=VARCHAR}
    </if>
    <if test="executionId != null">
      and `execution_id` = #{executionId,jdbcType=VARCHAR}
    </if>
    <if test="version != null">
      and `version` = #{version,jdbcType=VARCHAR}
    </if>
    <if test="scheme != null">
      and `scheme` = #{scheme,jdbcType=VARCHAR}
    </if>
    <if test="method != null">
      and `method` = #{method,jdbcType=VARCHAR}
    </if>
    <if test="uri != null">
      and `uri` = #{uri,jdbcType=VARCHAR}
    </if>
    <if test="queryString != null">
      and `query_string` = #{queryString,jdbcType=VARCHAR}
    </if>
    <if test="contentType != null">
      and `content_type` = #{contentType,jdbcType=VARCHAR}
    </if>
    <if test="charsetEncoding != null">
      and `charset_encoding` = #{charsetEncoding,jdbcType=VARCHAR}
    </if>
    <if test="dateTime != null">
      and `date_time` = #{dateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="allContentLength != null">
      and `all_content_length` = #{allContentLength,jdbcType=INTEGER}
    </if>
    <if test="contentLength != null">
      and `content_length` = #{contentLength,jdbcType=INTEGER}
    </if>
    <if test="locale != null">
      and `locale` = #{locale,jdbcType=VARCHAR}
    </if>
    <if test="headers != null">
      and `headers` = #{headers,jdbcType=VARCHAR}
    </if>
    <if test="body != null">
      and `body` = #{body}
    </if>
    <if test="bodyText != null">
      and `body_text` = #{bodyText,jdbcType=VARCHAR}
    </if>
    <if test="curl != null">
      and `curl` = #{curl,jdbcType=VARCHAR}
    </if>
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into t_servlet_execution_request
    <trim prefix="set" suffixOverrides=",">
      id = #{id,jdbcType=BIGINT},
      <include refid="setCondition"/>
    </trim>
  </insert>

  <update id="updateById">
    update t_servlet_execution_request
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
    where id = #{id,jdbcType=BIGINT}
    and delete_flag = 'N'
  </update>

  <delete id="deleteById">
    update t_servlet_execution_request
    set delete_flag = 'Y',
        delete_dt   = now(3)
    where id = #{id,jdbcType=BIGINT}
      and delete_flag = 'N'
  </delete>

  <delete id="deleteByEntity">
    update t_servlet_execution_request set delete_flag = 'Y', delete_dt = now(3)
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
      and delete_flag = 'N'
    </trim>
  </delete>

  <select id="queryByEntity" resultMap="ServletExecutionRequestMap">
    select
    <include refid="allColumn"/>
    from t_servlet_execution_request
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
      and delete_flag = 'N'
    </trim>
  </select>

  <select id="queryById" resultMap="ServletExecutionRequestMap">
    select
    <include refid="allColumn"/>
    from t_servlet_execution_request
    <trim prefix="where" prefixOverrides="and">
      id = #{id,jdbcType=BIGINT}
      and delete_flag = 'N'
    </trim>
  </select>

  <select id="queryByIdList" resultMap="ServletExecutionRequestMap">
    select
    <include refid="allColumn"/>
    from t_servlet_execution_request
    <trim prefix="where" prefixOverrides="and">
      id in
      <foreach collection="idList" open="(" close=")" item="id" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
      and delete_flag = 'N'
    </trim>
  </select>

  <select id="countByEntity" resultType="java.lang.Long">
    select count(*) from t_servlet_execution_request
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
      and delete_flag = 'N'
    </trim>
  </select>
</mapper>


